
.de-icon-evernote:before { content: '\e800'; } /* '' */
.de-icon-religious-christian:before { content: '\e801'; } /* '' */
.de-icon-cafe:before { content: '\e802'; } /* '' */
.de-icon-heart-empty:before { content: '\e803'; } /* '' */
.de-icon-crown:before { content: '\e804'; } /* '' */
.de-icon-tree:before { content: '\e805'; } /* '' */
.de-icon-town-hall:before { content: '\e806'; } /* '' */
.de-icon-graduation-cap:before { content: '\e807'; } /* '' */
.de-icon-location:before { content: '\e808'; } /* '' */
.de-icon-heart:before { content: '\e809'; } /* '' */
.de-icon-heart-1:before { content: '\e80a'; } /* '' */
.de-icon-heart-empty-1:before { content: '\e80b'; } /* '' */
.de-icon-heart-filled:before { content: '\e80c'; } /* '' */
.de-icon-heart-2:before { content: '\e80d'; } /* '' */
.de-icon-heart-3:before { content: '\e80e'; } /* '' */
.de-icon-heart-empty-2:before { content: '\e80f'; } /* '' */
.de-icon-heart-4:before { content: '\e810'; } /* '' */
.de-icon-heart-5:before { content: '\e811'; } /* '' */
.de-icon-heart-broken:before { content: '\e812'; } /* '' */
.de-icon-heart-6:before { content: '\e813'; } /* '' */
.de-icon-heart-empty-3:before { content: '\e814'; } /* '' */
.de-icon-heart-7:before { content: '\e815'; } /* '' */
.de-icon-heart-empty-4:before { content: '\e816'; } /* '' */
.de-icon-home:before { content: '\e817'; } /* '' */
.de-icon-heart-8:before { content: '\e818'; } /* '' */
.de-icon-menu:before { content: '\e819'; } /* '' */
.de-icon-restaurant:before { content: '\e81a'; } /* '' */
.de-icon-gift:before { content: '\e81b'; } /* '' */